<%provide(:title, 'Contact Us')%>
<% meta :description => "Contact us for Handmade Bullion Crests, Emblems, Church Embroidery, Christmas Collection",
        :keywords => "Handmade Bullion Crests, Emblems, Church Embroidery, Christmas Collection, Free Quote, Low Price Handmade Embroidery"
%>
<p>Contact Us</p>