<%provide(:title, 'Contact Us')%>
<% meta :description => "Contact us for Handmade Bullion Crests, Emblems, Church Embroidery, Christmas Collection. Please use Free Quote to get started.",
        :keywords => "Handmade Bullion Crests, Heraldry, Emblems, Family Crests, Coat of Arms, Church Embroidery, Christmas Collection, Patches, Clan Crests, Navy Badges, Military Blazer Badges, Masonic Supplies, Uniform Accessories, Flags, Sashes, WW II Items, Bands Uniform"
%>
<h1>Contact Us</h1>
<hr/>
<p>Please feel free to call at 800-837-5053 or drop an email at info@emblemembroiders.com for any question.</p>
<address>
  <strong>Emblem Embroiders Inc</strong><br>
  1048 Franklin Ave<br>
  Bronx, NY 10456<br>
  Phone: 800-837-5053<br>
  <a href="mailto:info@emblemembroiders.com">info@emblemembroiders.com</a>
</address>