<div class="row">
	<div class="span12">

		<h1>Editing product</h1>
		
		<%= render 'form' %>
		
		<%= link_to 'Show', @product, :class => "btn btn-inverse" %> |
		<%= link_to 'Back', products_path, :class => "btn btn-info" %>
	</div>
</div>
